<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="public_partials/css/header_homepage.css" type="text/css">
<!-- The Footer -->

<footer>
    <li><a href="/"  id="foot">about us</a></li>
    <li><a href="/"  id="foot">contact us</a></li>
    <li><a href="/"  id="foot">contributers</a></li>
    <li><a href="/"  id="foot">careers</a></li>
</footer>