<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="public_partials/css/header_homepage.css" type="text/css">
<!-- The Navigation Bar -->

<nav id="nav_container" >
    <ul>
        <li><a href="/" >Home</a></li>
        <li><a href="Login"  >Sign In</a></li>
        <li><a href="Register">Register</a></li>
        <li><a href="/why_us_page" >Why us?</a></li>
        <li><a href="/" >careers</a></li>
    </ul>
      
</nav>