<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="public_partials/css/header_homepage.css" type="text/css">
<!-- The Navigation Bar -->

<nav id="nav_container" >
    <ul>
        <li><a href="/" >Home Page</a></li>
        <li><a href="/"  >Hire History</a></li>
        <li><a href="/">Payment</a></li>
        <li><a href="/" >Ranking</a></li>
        <li><a href="/" >bookmark workers</a></li>
        <li><a href="/" >calendar</a></li>
    </ul>
      
</nav>