<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="public_partials/css/header_homepage.css" type="text/css">
<!-- The Navigation Bar -->

<nav id="nav_container" >
    <ul>
        <li><a href="/recruiters_home_page" >Home Page</a></li>
        <li><a href="/hire_history"  >Hire History</a></li>
        <li><a href="/payment">Payment</a></li>
        <li><a href="/ranking" >Ranking</a></li>
        <li><a href="/bookmark_workers" >bookmark workers</a></li>
        <li><a href="/calendar" >calendar</a></li>
    </ul>
      
</nav>