<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/3/w3.css">
<!-- The Navigation Bar -->
<nav class="w3-bar w3-black">
    <a href="/" class="w3-button w3-bar-item">Home</a>
    <a href="Login" class="w3-button w3-bar-item">Login</a>
    <a href="Register" class="w3-button w3-bar-item">Register</a>
</nav>