<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="public_Company_Worker_Homepage/css/company_worker_header.css">
<!-- The Navigation Bar -->
<nav id="nav_container" >
    <ul>
		<li><a href="CompanyWorkerHomepage">Home</a></li>
        <li><a href="add_new_contractor_worker">Add new contractor worker</a></li>
        <li><a href="monitor_of_all_hires">Monitor Of All Hires</a></li>
        <li><a href="search_contractor_worker">Search for a contractor worker</a></li>
        <li><a href="statistics">Statistics</a></li>
        <li><a href="shifts_monitor">Shifts Monitor</a></li>
    </ul>
</nav>


