<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="public_contractor/css/contractor_worker_header.css" type="text/css">
<!-- The Navigation Bar -->

<nav id="nav_container" >
    <ul>
        <li><a href="contractor_worker_home_page" >Contractor worker Home page</a></li>
        <li>"Hello"</li>
        <li><a href="contractor_worker_my_profile"  >My profile</a></li>
        <li><a href="contractor_worker_work_information">Work information</a></li>
        <li><a href="contractor_worker_work_history" >Work history</a></li>
        <li><a href="contractor_worker_pay_rates" >Pay rates</a></li>
    </ul>
      
</nav>
