<!DOCTYPE html>
<html>
	<header>
		<%- include('../partials/header_company_worker'); %>
	</header>
	<head>
		<meta charset="utf-8">
		<title>You added a new Contractor worker successfully!/title>
		<style>
		</style>
	</head>
	<body>
		<div class="login-form">
			<h1>His username:</h1>
			<h1>His password:</h1>
			</form>
		</div>
	</body>
</html>