<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="public_careers/css/careers.css">
    </head>
    <header>
        <%- include('../partials/header_homepage'); %>
    </header>
    <body>
        <div class="sign">
            <span class="fast-flicker">C</span>ARE<span class="flicker">ER</span>S
          </div>
    <%- include('../partials/video_homepage'); %>
    
    </body>

  <%- include('../partials/footer_homepage'); %>
</html>



