<!DOCTYPE html>
<html>
    <head>
    </head>
    <header>
        <%- include('../partials/header_company_worker'); %>
    </header>
    <body>
        Contractor management System 
    </body>
</html>