<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <link rel="stylesheet" href="public_Company_Worker_Homepage/css/company_worker_homepage.css">
        <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Just+Me+Again+Down+Here'>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/jquery-ui.min.js'></script>
        <link href='https://fonts.googleapis.com/css?family=Gloria+Hallelujah' rel='stylesheet' type='text/css'>
        <script language ="javascript" type="text/javascript" src="public_Company_Worker_Homepage/company_worker.js"></script>
    </head>
    <header>
        <%- include('../partials/header_company_worker'); %>
    </header>
    <body>

		<a href="javascript:;" class="button" id="add_new">Add New Note</a>
		<div id="board">
			
		</div>
		
    </body>
</html>