<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="public_contributers_page/css/contributers_page.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <header>
        <%- include('../partials/header_homepage'); %>
    </header>
    <body>
        
        <%- include('../partials/video_homepage'); %>
        <div class="container">
          <div class="card">
            <img src="https://lh3.googleusercontent.com/ytP9VP86DItizVX2YNA-xTYzV09IS7rh4WexVp7eilIcfHmm74B7odbcwD5DTXmL0PF42i2wnRKSFPBHlmSjCblWHDCD2oD1oaM1CGFcSd48VBKJfsCi4bS170PKxGwji8CPmehwPw=w200-h247-no" alt="Person" class="card__image">
            <p class="card__name">Amit Ovadia</p>
            <div class="grid-container">
        
              <div class="grid-child-posts">
               Software
              </div>
        
              <div class="grid-child-followers">
                Engineering Student
              </div>
        
            </div>
            <ul class="social-icons">
              <li><a href="#"><i class="fa fa-instagram"></i></a></li>
              <li><a href="https://www.facebook.com/profile.php?id=100006178938761"><i class="fa fa-facebook"></i></a></li>
              <li><a href="https://www.linkedin.com/in/amit-ovadia-0417211b5/"><i class="fa fa-linkedin"></i></a></li>
            </ul>
           
        
          </div>
          <div class="card">
            <img src="https://lh3.googleusercontent.com/oUUiPB9sq3ACq4bUaRmo8pgvC4FUpRRrQKcGIBSOsafawZfRpF1vruFeYt6uCfL6wGDQyvOi6Ez9Bpf1Fb7APKjIyVsft7FLGR6QqdRFTiceNQBm1In9aZyrXp33cZi9pUNqjHASdA=s170-no" alt="Person" class="card__image">
            <p class="card__name">Patrick Luggasy</p>
            <div class="grid-container">
              <div class="grid-child-posts">
                Software
               </div>
         
               <div class="grid-child-followers">
                 Engineering Student
               </div>
        
            </div>
            <ul class="social-icons">
              <li><a href="#"><i class="fa fa-instagram"></i></a></li>
              <li><a href="https://www.facebook.com/patriklug"><i class="fa fa-facebook"></i></a></li>
              <li><a href="https://www.linkedin.com/in/patrick-lugassy-7786871a7/"><i class="fa fa-linkedin"></i></a></li>
            </ul>
         
          </div>
          <div class="card">
              <img src="public_contributers_page/images/ivan.png" alt="Person" class="card__image">
              <p class="card__name">Ivan Borisenco</p>
              <div class="grid-container">
          
                <div class="grid-child-posts">
                  Software
                 </div>
           
                 <div class="grid-child-followers">
                   Engineering Student
                 </div>
          
              </div>
              <ul class="social-icons">
                <li><a href="https://www.instagram.com/yoni.borisenco/"><i class="fa fa-instagram"></i></a></li>
                <li><a href="https://www.facebook.com/yoni.borisenko"><i class="fa fa-facebook"></i></a></li>
                <li><a href="https://www.linkedin.com/in/ivan-borisenco-a323a919a/"><i class="fa fa-linkedin"></i></a></li>
              </ul>
            
            </div>
          <div class="card">
            <img src="https://lh3.googleusercontent.com/pZwZJ5HIL5iKbA91UGMUIPR0VJWa3K0vOGzDZmY6wU3EJBUdfsby3VEyxU162XxTyOyP3D154tjkr-4Jgcx8lygYUR8eB-jVmld4dsHi1c-mE_A8jKccseAG7bdEwVrcuuk6ciNtSw=s170-no" alt="Person" class="card__image">
            <p class="card__name">Rona Nazarov</p>
            <div class="grid-container">
        
              <div class="grid-child-posts">
                Software
               </div>
         
               <div class="grid-child-followers">
                 Engineering Student
               </div>
        
            </div>
            <ul class="social-icons">
              <li><a href="#"><i class="fa fa-instagram"></i></a></li>
              <li><a href="https://www.facebook.com/profile.php?id=100024017766627"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
            </ul>
           
          </div>
        </div>
        
  </body>

    <%- include('../partials/footer_homepage'); %>
</html>



