<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="public_contractor/css/contractor_pay_rates.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script language ="javascript" type="text/javascript" src="public_contractor/contractor_pay_rates.js"></script>
      
    </head>
    <header>
        <%- include('../partials/navbar_contractor_worker'); %>
    </header>
  <body>
    <div id="Graph">    
        <svg id="line" width="750px" style="/*background: #f5f5f5;*/font-size: 12px;font-family: system-ui;cursor: pointer;"></svg>
    </div>
  </body>
</html>