<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="public_HomePage/css/homePage.css">
    </head>
    <header>
        <%- include('../partials/header'); %>
    </header>
    <body>
        Contractor management System 
    </body>
</html>



