<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="public_HomePage/css/homePage.css">
    </head>
    <header>
        <%- include('../partials/header_homepage'); %>
    </header>
    <body>
        <section id="section1">
            <div class="section1">
                <h1 id="titleSection1">
                    Welcome To SCE Contractor Managment System
                </h1>
            </div>
            <div class="section2">
                <h1 id="titleSection2">
                    About 
                </h1>
                <h2>
                    the company we offers a wide range contractor managment system
                    with different functions easy to maintain and friendly for the user 
                    for more details contact us
                </h2>
            </div>
    </body>

    <footer>
        <li><a href="/" >about us</a></li>
        <li><a href="/"  >contact us</a></li>
        <li><a href="/">contributers</a></li>
        <li><a href="/" >careers</a></li>
    </footer>
</html>



