<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="public_HomePage/css/homePage.css">
    </head>
    <header>
        <%- include('../partials/header_homepage'); %>
    </header>
    <body>
        <div>
            <section id="section1">
                <div id="section1Left">
                    <h1 id="sceCText">SCE Contractor</h1>
                    <p id="stPargraph">The mostly advanced contractor managment system User friendly for contractors,easy to maintain and easy to follow your work and find the right skilled contractor for you</p>
                </div>
                <div id="section1Right">
                    <img src="public_HomePage/Images/worker1.png" id="imgWorker">
                </div>

            </section>
    </div>
    <%- include('../partials/video_homepage'); %>
    
    </body>

  <%- include('../partials/footer_homepage'); %>
</html>



