<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="public_HomePage/css/homePage.css">
    </head>
    <header>
        <%- include('../partials/header_homepage'); %>
    </header>
    <body>
        <div>
        <h1>SCE contractor</h1>
    </div>
        <video autoplay muted loop id="myVideo">
<<<<<<< HEAD
            <source src="public_HomePage/videos/contractor.mp4" poster="public_HomePage/images/poster.png" type="video/mp4">
=======
            <source src="public_HomePage/images/contractor.mp4" poster="public_HomePage/images/poster.png" type="video/mp4">
>>>>>>> 3d6539076b15b0acb3d8928f2f246346c8b87563
            Your browser does not support HTML5 video.
          </video>
          <div>
          </div>
    </body>

    <footer>
        <li><a href="/"  id="foot">about us</a></li>
        <li><a href="/"  id="foot">contact us</a></li>
        <li><a href="/"  id="foot">contributers</a></li>
        <li><a href="/"  id="foot">careers</a></li>
    </footer>
</html>



