<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="public_recruiters/css/recruiters_home_page.css">
    </head>
    <header>
        <%- include('../partials/header_recruiter'); %>
    </header>
    <body>
        <div>
          <div id="wrap">
            <form action="" autocomplete="on">
            <input id="search" name="search" type="text" placeholder="Find Your Contactror Now"><input id="search_submit" value="Rechercher" type="submit">
            </form>
          </div>
            </section>
    </div>
    
    </body>
</html>


