<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="public_why_us/css/why_us.css">
    </head>
    <header>
        <%- include('../partials/header_homepage'); %>
    </header>
    <body>
        <div class="graphic-container">
  
            <div class="center-circles-container">
              
          <!--  single    -->
              <div class="single">
                <div class="circle one">
                  <div class="dot"></div>
                  <div class="icon">
                    <i class="far fa-building">1</i>
                  </div>
                  <div class="content-container">
                    <div class="line"></div>
                    <h2>Track progress</h2>
                    <div class="content">
                      <p><b>Get real-time status updates, run reports, and more. You know what's going on and can solve small issues before they become big problems.!</b></p>
                    </div>
                  </div>
                </div>
              </div>
          <!--   double   -->
              <div class="double">
                <div class="circle two">
                  <div class="icon">
                    <i class="far fa-building">2</i>
                  </div>
                  <div class="content-container">
                    <div class="line"></div>
                    <h2>Improve collaboration</h2>
                    <div class="content">
                      <p><b>Make all the important things easy to find, like contractors by their proffestions, rankings, feedback, and more.</b></p>
                    </div>
                  </div>
                  </div>
                <div class="circle three">
                  <div class="icon">
                    <i class="far fa-building">3</i>
                  </div>
                  <div class="content-container">
                    <div class="line"></div>
                    <h2>Track progress</h2>
                    <div class="content">
                      <p><b>Get a high level overview of all your team's work, in seconds. Easily review the outcomes of their efforts and share their success!</b></p>
                    </div>
                  </div>
                  </div>
              </div>
          <!--   double   -->
              <div class="double">
                <div class="circle four">
                  <div class="dot"></div>
                  <div class="icon">
                    <i class="far fa-building">4</i>
                  </div>
                  <div class="content-container">
                    <div class="line"></div>
                    <h2>Stay on schedule</h2>
                    <div class="content">
                      <p><b>Map out goals and prioritize tasks. You get projects off the ground faster and manage working time of your work deals</b></p>
                    </div>
                  </div>
                  </div>
                <div class="circle five">
                  <div class="icon">
                    <i class="far fa-building">5</i>
                  </div>
                  <div class="content-container">
                    <div class="line"></div>
                    <h2>Prioritize your work</h2>
                    <div class="content">
                      <p><b>From major milestones to the tiniest tasks, manage all your tasks in Teamwork so you can plan and prioritize work. Assign owners, due dates and estimated time – so everyone knows what to tackle and when.</b></p>
                    </div>
                  </div>
                  </div>
              </div>
          <!--  single    -->
              <div class="single">
                <div class="circle six">
                  <div class="dot"></div>
                  <div class="icon">
                    <i class="far fa-building">6</i>
                  </div>
                  <div class="content-container">
                    <div class="line"></div>
                    <h2>Improve project profitability</h2>
                    <div class="content">
                      <p><b>Track time on projects so you can see how much time projects really take and see if you charge enough.</b></p>
                    </div>
                  </div>
                  </div>
              </div>
              
            </div>
            
          </div>
    <%- include('../partials/video_homepage'); %>
    
    </body>

  <%- include('../partials/footer_homepage'); %>
</html>



