<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="public_HomePage/css/homePage.css">
    </head>
    <header>
        <%- include('../partials/header_homepage'); %>
    </header>
    <body>
     
    </body>

    <footer>
        <li><a href="/"  id="foot">about us</a></li>
        <li><a href="/"  id="foot">contact us</a></li>
        <li><a href="/"  id="foot">contributers</a></li>
        <li><a href="/"  id="foot">careers</a></li>
    </footer>
</html>



