*{
    margin:0;
}
@import "compass/css3";
 .star-cb-group {
	/* remove inline-block whitespace */
	 font-size: 0;
	/* flip the order so we can use the + and ~ combinators */
	 unicode-bidi: bidi-override;
	 direction: rtl;
	/* the hidden clearer */
}
 .star-cb-group  {
	 font-size: 150%;
}
 .star-cb-group > input {
	 display: none;
}
 .star-cb-group > input + label {
	/* only enough room for the star */
	 display: inline-block;
	 overflow: hidden;
	 text-indent: 9999px;
	 width: 1em;
	 white-space: nowrap;
	 cursor: pointer;
}
 .star-cb-group > input + label:before {
	 display: inline-block;
	 text-indent: -9999px;
	 content: '\2606';
	 color: #888;
}
 .star-cb-group > input:checked ~ label:before, .star-cb-group > input + label:hover ~ label:before, .star-cb-group > input + label:hover:before {
	 content: '\2605';
	 color: #e52;
	 text-shadow: 0 0 1px #333;
}
 .star-cb-group > .star-cb-clear + label {
	 text-indent: -9999px;
	 width: 0.5em;
	 margin-left: -0.5em;
}
 .star-cb-group > .star-cb-clear + label:before {
	 width: 0.5em;
}
 .star-cb-group:hover > input + label:before {
	 content: '\2606';
	 color: #888;
	 text-shadow: none;
}
 .star-cb-group:hover > input + label:hover ~ label:before, .star-cb-group:hover > input + label:hover:before {
	 content: '\2605';
	 color: #e52;
	 text-shadow: 0 0 1px #333;
}
 :root {
	 font-size: 16px;
	 font-family: Helvetica, arial, sans-serif;
}
 body {
	 background: white;
	 color: #888;
}
 fieldset {
	 border: 0;
	 background: white;
	 width: 100%;
	 border-radius: 1px;
	 padding: 1em 1.5em 0.9em;
}

 h3 {
	
   color: black;
}
form{
  width: 100%;
}