* {
	box-sizing: border-box;
  }
  

body,html{
	height: 100%;
	margin: 0;
	margin: 0;
	font-family: Arial;
	font-size: 17px;
}
#myVideo {
	right: 0;
	bottom: 0;
	width: 100%; 
	height: 90%;
  }

footer{
	list-style-type: none;
	position:fixed;
	color: black;
	bottom:0;
	width:100%;
	height:60px;   /* Height of the footer */
	font-size: 1.5em;
}
#foot{
	color: black;
}
